.BlockB{
    border: 1px solid yellow;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78vw;
}

.BlockA{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    height: 20px;
    padding: 5px;
}

.pera{
    font-size: 11px;
}